{% extends "base.html" %}

{% block content %}
<div>
    <h1>Сайт: {{ url.name }}</h1>
    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td>{{ url.id }}</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>{{ url.name }}</td>
        </tr>
        <tr>
            <td>Дата создания</td>
            <td>{{ url.created_at }}</td>
        </tr>
    </table>
</div>

<div class="mt-5">
    <h2>Проверки</h2>
    <form action="{{ url_for('checks_post', id=url.id) }}" method="post" class="py-2">
        <input type="submit" value="Запустить проверку" class="btn btn-primary">
    </form>
</div>

<div class="mt-2">
    <table class="table table-bordered" data-test="checks">
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>Title</th>
            <th>Description</th>
            <th>Дата создания</th>
        </tr>
        {% for check in checks %}
        <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.status_code|default('', true) }}</td>
            <td>{{ check.h1|default('', true) }}</td>
            <td>{{ check.title|default('', true) }}</td>
            <td>{{ check.description|default('', true) }}</td>
            <td>{{ check.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}