{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Websites</h1>
    <table class="table table-striped table-bordered" data-test="urls">
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Last check</th>
            <th>Response code</th>
        </tr>
        {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td><a href="{{ url_for('url_get', id=url.id) }}">{{ url.name }}</a></td>
            <td>{{ url.created_at|default('', true) }}</td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}