{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Сайты</h1>
    <table class="table table-striped table-bordered" data-test="urls">
        <tr>
            <th>ID</th>
            <th>URL</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.url.id }}</td>
            <td><a href="{{ url_for('url_get', id=entry.url.id) }}">{{ entry.url.name }}</a></td>
            <td>{{ entry.last_check.created_at|default('', true) }}</td>
            <td>{{ entry.last_check.status_code|default('', true) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}